@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* Variables */
:root {
    --color-pricipal: #EFF1FA;
    --color-secundario: #0A3871;
}
/* resetear estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: 1px solid var(--color-secundario);
    border-radius: 1rem;
    font-family: inherit;
    /* padding: 1rem 3rem; */
    width: 14rem;
    height: 3rem;
    cursor: pointer;
}
.btn-primario {
    background-color: var(--color-secundario);
    color: var(--color-pricipal);
}
.btn-primario:hover {
    background-color: #072B61;
}
.btn-secundario {
    background-color: transparent;
    color: var(--color-secundario);
}
.btn-secundario:hover {
    background-color: #E9ECF8;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-pricipal);
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 1rem;
    width: 60vw;
    height: 100vh;
}

/* Inicio */
.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
}

#iniciar-juego{
    height: 5rem;
}
/* #agregar-palabra{
    width: 13rem;
    height: 3rem;
    padding: 0;
} */

/* Juego */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4.25rem;
}
.game h2 {
    font-size: 1.5rem;
}
.game-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}
/* canvas {
    border: 1px solid black;
    border-radius: 5px;
} */
#letter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
#letter-container button {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: .5rem;
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-weight: 500;
    font-size: 1.25rem;
}
#letter-container .disabled {
    border-color: lightgrey;
    color: lightgrey;
}
#word-container {
    display: flex;
    gap: 1rem;
    font-size: larger;
}
/* result */
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.result-container h3 {
    font-size: 4rem;
}
.result-container .result-win {
    color: limegreen;
}
.result-container .result-lose {
    color: crimson;
}
.result-container span {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 10px;

}
/* Agregar palabra */
.agregar-palabra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.agregar-palabra select {
    font: inherit;
    background-color: var(--color-secundario);
    color: var(--color-pricipal);
    border: none;
    border-radius: 5px;
    padding: .5rem .5rem;
    margin-left: 1rem;
}
.agregar-palabra input {
    background-color: transparent;
    border: none;
    border-bottom: 2px double lightslategray;
    outline: none;
    font: inherit;
    font-size: 2rem;
    color: var(--color-secundario);
    text-align: center;
    padding: .5rem;
}

.hide {
    display: none;
}

@media (max-width: 350px) {
    
    .container {
        width: 95vw;
    }
    #word-container {
        font-size: 3rem;
    }
    .game {
        height: 100%;
        justify-content: space-around;
    }
    .game-buttons {
        flex-direction: column;
        gap: 1rem;
    }
}